<header class="header">
    <img class="header__icon" src="./images/paloalto.png" width="157" height="31">
    <nav class="header__nav nav">
        <ul class="header__list nav__list">
            <li class="header__item nav__item">
                <a class="header__link nav__link nav__link_active" href="./index.html">Home</a>
            </li>
            <li class="header__item nav__item">
                <a class="header__link nav__link nav__link_active" href="#">About</a>
            </li>
            <li class="header__item nav__item">
                <a class="header__link nav__link link nav__link_active" href="#">Archive</a>
            </li>
            <li class="header__item nav__item">
                <a class="header__link nav__link link nav__link_active" href="./contacts.html">Contact</a>
            </li>

            <li class="header__item nav__item">
                <a class="header__search-icon nav__search-icon" href="#">
                    <div class="nav__search-icon"></div>
                </a>
            </li>
        </ul>
        <div class="header_480_320 nav_480_320">
            <a class="nav_480_320__link" href="#">
            </a>
        </div>
    </nav>
</header>