<footer class="footer">
    <h5 class="blog__name">Palo Alto</h5>
    <ul class="navigation-list__footer">
        <li class="navigation-list-footer__item">
            <a class="nav-link__footer active__footer" href="./index.html">Home</a>
        </li>
        <li class="navigation-list-footer__item">
            <a class="nav-link__footer active__footer" href="#">About</a>
        </li>
        <li class="navigation-list-footer__item">
            <a class="nav-link__footer active__footer" href="#">Archive</a>
        </li>
        <li class="navigation-list-footer__item">
            <a class="nav-link__footer active__footer" href="./contacts.html">Contact</a>
        </li>
        <li class="navigation-list-footer__item">
            <a class="nav-link__search footer__search" href="#">
                <div class="footer__search"></div>
            </a>
        </li>
    </ul>

    <p class="description">
        Nunc placerat dolor at lectus hendrerit dignissim. Ut tortor sem, consectetur nec hendrerit ut, ullamcorper
        ac odio. Donec viverra ligula at quam tincidunt imperdiet. Nulla mattis tincidunt auctor.
    </p>
    <p class="copyright">© 2015 - Palo Alto. All Rights Reserved. Designed & Developed by
        <a class="developer_link" href="#">PixelBuddha Team</a>
    </p>

    <ul class="social__networks">
        <li class="social-networks__item">
            <a class="social__networks__link social__networks__facebook" href="#">
                <div class="social__networks__facebook"></div>
            </a>
        </li>
        <li class="social-networks__item">
            <a class="social__networks__link social__networks__twitter" href="#">
                <div class="social__networks__twitter"></div>
            </a>
        </li>
        <li class="social-networks__item">
            <a class="social__networks__link social__networks__instagram" href="#">
                <div class="social__networks__instagram"></div>
            </a>
        </li>
        <li class="social-networks__item">
            <a class="social__networks__link social__networks__pinterest" href="#">
                <div class="social__networks__pinterest"></div>
            </a>
        </li>
    </ul>
</footer>