{{#>layout/layout}}
    <main class="main content">
        <article class="main__article article">
            <h1 class="main__header">Contact us</h1>
            <h2 class="main__header_480_320">Contact info</h2>
            <p class="main__text text">
                Nam in maximus arcu, ac aliquam tellus. Donec vestibulum ipsum nunc, at placerat ante posuere non. Integer
                at dui a lacus suscipit elementum id non massa. Pellentesque habitant morbi tristique senectus et netus et
                malesuada fames ac turpis egestas. Nunc eu neque eros. Ut eu quam justo.
            </p>
            <form class="main__form">
                <div class="main__form-fields">
                    <input class="main_margin-left main__field field field_inline-block" type="text" name="name" id="name"
                           placeholder="Your name">
                    <input class="main__field field field_inline-block email" type="email" name="email" id="email"
                           placeholder="Email">
                    <input class="main_margin-left main__field field" type="text" name="subject" id="subject"
                           placeholder="Subject">
                    <label class="main_margin-left main__label label" for="message__textarea"></label>
                    <textarea class="main__textarea textarea" name="message__textarea" id="message__textarea"
                              placeholder="Your message"></textarea>
                </div>
                <input class="main__submit submit button" type="submit" name="submit" value="Send message">
            </form>
        </article>
    </main>
{{/layout/layout}}