<section class="personal__info">
    <img class="avatar" src="../images/image_tea.png" alt="image not found">
    <h2 class="personal-info__title">About me</h2>
    <p class="personal-info__text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua.
    </p>
    <h3 class="top__posts">Top posts</h3>
    <ul class="top-posts__list">
        <li class="post">
            <p class="post-title__main">A day exploring Alps</p>
            <a class="comments__link" href="#">24 comments</a>
        </li>
        <li class="post">
            <p class="post-title__main">American dream</p>
            <a class="comments__link" href="#">18 comments</a>
        </li>
        <li class="post">
            <p class="post-title__main">Cold winter days</p>
            <a class="comments__link" href="#">15 comments</a>
        </li>
    </ul>
</section>