<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="Palo Alto, Blog">
    <meta name="description" content="Interesting and inspiring posts about anything you want to know" />
    <title>Palo Alto</title>
    <link rel="stylesheet" href="./style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans" rel="stylesheet">
    <link rel="shortcut icon" href="images/favicon.png" sizes="32x32"/>
    <link rel="shortcut icon" type="image/png" href="images/favicon.png" sizes="32x32">
</head>
<body>
{{>header/header}}

{{>@partial-block}}

{{>footer/footer}}
</body>
</html>