<footer class="footer">
    <div class="contact_info">
        <ul class="contacts__list">
            <li class="contacts__item">
                <a class="contacts__link" href="#">Terms and conditions</a>
            </li>
            <li class="contacts__item">
                <a class="contacts__link" href="#">Privacy</a>
            </li>
        </ul>
    </div>
</footer>