<header class="header">
    <div class="header__hat">
        <h1 class="title">MINIMO</h1>
        <div class="sections">
            <ul class="sections__list">
                <li class="section">
                    <a class="section__link" href="#"> lifestyle</a>
                </li>
                <li class="section">
                    <a class="section__link" href="#">photodiary</a>
                </li>
                <li class="section">
                    <a class="section__link" href="#">music</a>
                </li>
                <li class="section">
                    <a class="section__link" href="#">travel</a>
                </li>
            </ul>
        </div>
    </div>
</header>