body {
    font-family: "Lato", sans-serif, "Droid Sans", "Open Sans";
    color: #000000;
    background-color: #f7f9fc;
    margin: 0;
}

body::before {
    content: '';
    position: absolute;
    max-width: 1440px;
    width: 50%;
    height: 4px;
    left: 0;
    top: 0;
    background-color: #5360ac;
}

