{{#>layout/layout}}
    <main class="content">
        <ul class="content__posts posts">
            <li class="posts__item">
                <div class="posts__mark">
                    <a class="posts__mark_link" href="#">I do travel</a>
                </div>

                <article class="post__article article">
                    <div class="posts__date">Sep 20</div>
                    <h2 class="posts__title">
                        No differene how many peaks you reach if there was no pleasure in the climb.
                    </h2>
                    <p class="posts__text">
                        Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum urna.
                        Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus.
                        Sed
                        ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin orci
                        egestas. Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur. Ut vitae rutrum
                        augue, in volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc.
                        Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et augue.
                    </p>
                    <a class="posts__button button" href="#">read more</a>
                    <ul class="posts__hashtags-list hashtags-list">
                        <li class="hashtags-list__item">
                            <a class="hashtags-list__link" href="#">yosemite</a>
                        </li>
                        <li class="hashtags-list__item">
                            <a class="hashtags-list__link" href="#">peak</a>
                        </li>
                        <li class="hashtags-list__item">
                            <a class="hashtags-list__link" href="#">explorer</a>
                        </li>
                    </ul>
                </article>
            </li>

            <li class="posts__item">
                <img class="second-post__image" src="./images/mountain.png" alt="mountain" width="956" height="636">
                <div class="posts__mark second__post">
                    <a class="posts__mark_link" href="#">I do observe</a>
                </div>

                <article class="post__article">
                    <div class="posts__date">Sep 18</div>
                    <h3 class="posts__title">
                        You know, I'd rather argue with you, then laugh with anyone else.
                    </h3>
                    <div class="posts__quote quote">
                        <p class="quote__text">
                            Curabitur luctus placerat lorem id eleifend. Nulla ac lacus finibus, tempor velit hendrerit,
                            vulputate lacus. Nunc fermentum nunc sem, ac eleifend tellus cursus nec. Donec a euismod
                            est,
                            vitae
                            accumsan purus. Proin aliquet ex massa, ac finibus magna commodo vitae.
                        </p>
                    </div>
                    <p class="posts__text">Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet.
                        Ut ac
                        elementum urna.
                        Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus.
                        Sed
                        ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin orci
                        egestas. Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur. Ut vitae rutrum
                        augue, in volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc.
                        Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et augue.
                    </p>
                    <p class="posts__text">
                        Sed sagittis commodo dolor. Vivamus elementum sem sed sapien bibendum viverra. Curabitur semper
                        scelerisque turpis eu ullamcorper. Morbi tincidunt auctor orci id consequat. Nulla odio mi,
                        iaculis
                        id congue quis, euismod id nisi. In varius congue diam, et viverra lorem bibendum ut.
                    </p>
                    <a class="posts__button" href="#">read more</a>
                    <ul class="posts__hashtags-list hashtags-list">
                        <li class="hashtags-list__item">
                            <a class="hashtags-list__link" href="#">yosemite</a>
                        </li>
                        <li class="hashtags-list__item">
                            <a class="hashtags-list__link" href="#">peak</a>
                        </li>
                        <li class="hashtags-list__item">
                            <a class="hashtags-list__link" href="#">photo</a>
                        </li>
                    </ul>
                </article>
            </li>

            <li class="posts__item">
                <div class="no-post-image__item">
                    <div class="posts__mark">
                        <a class="posts__mark_link" href="#">I do reflect</a>
                    </div>

                    <article class="post__article">
                        <div class="posts__date">Sep 11
                        </div>
                        <h4 class="posts__title">
                            Democracy means simply the bludgeoning of the people by the people for the people.
                        </h4>
                        <img class="third-post__image" src="./images/vumen.png" alt="vumen" width="186" height="387">
                        <p class="posts__text">
                            Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac
                            elementum urna.
                            Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus
                            metus.
                            Sed
                            ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin
                            orci
                            egestas. Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur. Ut vitae
                            rutrum
                            augue, in volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc.
                            Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et augue.
                        </p>
                        <p class="posts__text">
                            Mauris sem odio, rhoncus eget euismod sed, pellentesque sit amet felis. Praesent dictum
                            eleifend
                            dui
                            et efficitur. Nunc non orci in neque sodales semper. Etiam euismod volutpat lorem,
                            <a class="text__link" href="#">vestibulum malesuada</a> justo aliquet eget. Nunc lacus
                            ante, varius
                            a
                            euismod eu, finibus commodo erat. Curabitur tincidunt sit amet nunc id interdum. Aliquam
                            augue
                            nisi,
                            venenatis vitae ex at, lobortis fringilla nibh. Proin placerat enim vitae egestas eleifend.
                            Aliquam
                            quis orci dignissim, posuere nibh a, eleifend augue. Cras quis metus nec tortor aliquet
                            ullamcorper.
                            Quisque varius porta metus, ut maximus dolor euismod nec. Suspendisse sit amet feugiat
                            turpis.
                        </p>
                        <p class="posts__quote_left-border">
                            Curabitur ut leo pulvinar, consectetur magna eu, feugiat purus. Morbi hendrerit lectus
                            turpis, a
                            porttitor velit imperdiet id.
                        </p>
                        <p class="posts__text">
                            Nunc placerat dolor at lectus hendrerit dignissim. Ut tortor sem, consectetur nec hendrerit
                            ut,
                            ullamcorper
                            ac odio. Donec viverra ligula at quam tincidunt imperdiet. Nulla mattis tincidunt auctor.
                            Nullam
                            scelerisque
                            ante mauris, egestas commodo nisi gravida ultrices. Suspendisse dapibus feugiat tincidunt.
                            Aliquam
                            gravida
                            quam at ipsum sagittis bibendum.
                        </p>
                        <a class="posts__button" href="/post3">read more</a>
                        <ul class="posts__hashtags-list hashtags-list">
                            <li class="hashtags-list__item">
                                <a class="hashtags-list__link" href="#">democracy</a>
                            </li>
                            <li class="hashtags-list__item">
                                <a class="hashtags-list__link" href="#">introspection</a>
                            </li>
                        </ul>
                    </article>
                </div>
            </li>
        </ul>
    </main>
{{/layout/layout}}